<!doctype html>
<html>
  <head>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<!-- Custom styles for this template -->   
    <style type="text/css">
      
      html,body {
        height: 100%;
      }
      .wrapper {
            min-height: 100%;
            height: auto !important;
            height: 100%;
            margin: 0 auto -63px;
            background-color: #18bc9c;
      }

      .footer, .push {
        height: 4em;
      }

      .footer {
        background-color:#00CB63;
        color:white; 
        clear: both;
      }

    </style>
    
    <!-- This is the title section -->
    {% block head %}
      
    {% endblock %}

  </head>

  <body>
    
  <div class="wrapper">
    <div class="container">
      <div class="jumbotron">
        <h1>Welcome</h1>
        <h2>Show case your projects here!</h2> 
      </div>

      <!-- This is the flash message section -->
      <div class = 'flash'>
            {% with messages = get_flashed_messages() %}
        {% if messages %}
            
          <ul>
          {% for message in messages %}
              <li> <strong> {{ message }} </strong> </li>
          {% endfor %}
          </ul>
          {% endif %}
        {% endwith %}

      </div>
      <div class="row">
        <div class="col-sm-4" style="background-color:#34CB95;">
        <!-- This is the main content section -->
            {% block content %}{% endblock %}
        </div>
      <div class="col-sm-8" style="background-color:#63CB84;">
      <!-- This is the Category content section -->
          {% block categoryContent %}{% endblock %}
      </div>
      </div>
      <div class="push"></div>
    </div>
  </div>

    <!-- This is the footer section -->
    <div class="footer">
      <div class="container">
        {% block footer %}
      <a class="ic fa fa-linkedin-square fa-3x" href="#" title="Linkedin" target="_blank"></a>
      <a class="ic fa fa-twitter fa-3x contact-ic" href="#" title="Twitter" target="_blank"></a>
      <a class="ic fa fa-github fa-3x contact-ic" href="#" title="GitHub" target="_blank"></a>
      <a class="ic fa fa-envelope fa-3x contact-ic" href="mailto:birat.rc.rai@.gmail.com" title="Email" target="_blank"></a>
      {% endblock %}
      </div>
    </div>

  </body>
</html>