{% extends "index.html" %}

<!-- This is the title section -->
{% block title %}Udacity{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}

{% block categoryContent %}
  
  <h1>{{ project|upper }}</h1></br>
  {% set count = 1 %}

  {% for project_category in project_category %}
  
  	<p><a href=" {{ url_for('projectCategory',project=project,projectcategory='p'+count|string) }}">{{ "Project: "+ project_category }}</a></p> 
  	{% set count = count + 1 %}
  {% endfor %}


{% endblock %}

