{% extends "index.html" %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
    .other {color: #336699}
    
    }
  </style>
{% endblock %}

{% block categoryContent %} 
<h1>{{ category_name }}</h1>
{% set count = 1 %}

{% for project_name in project_name %}	
  <a href="{{ url_for('showProject',project=project,projectcategory=projectcategory,project_no=count)}}">{{ project_name }}</a>

  <a href="{{ url_for('editProject',project=project,projectcategory=projectcategory,project_no=count) }}">Edit</a> 
  <a href="{{ url_for('deleteProject',project=project,projectcategory=projectcategory,project_no=count) }}">Delete</a> </br></br>
  {% set count = count + 1 %}
{% endfor %}

{% for i in project_list %}  
  <a href="#">{{ i.project_item_id }}</a></br>
  <a href="#">{{ i.project_url }}</a></br>
  <a href="#">{{ i.projectcategory_id }}</a></br>
  <a href="#">{{ i.author_id }}</a></br>
  <a href="#">{{ i.author_id }}</a></br>
  <a href="#">{{ i.project_description }}</a></br>
{% endfor %}

{% endblock %}