{% extends "index.html" %}
{% block title %}Udacity{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}

{% block categoryContent %}
  
  <h1>{{ project }}</h1></br>
  <a href="{{ url_for('editProject',project=project, projectcategory=projectcategory, project_no=project_no) }}"><button type="button">Edit Project</button></a>
  <a href="{{ url_for('deleteProject',project=project, projectcategory=projectcategory, project_no=project_no) }}"><button type="button">Delete Project</button></a></br></br>
  
  <img src={{ project_list.image_url }} alt="Project Image" style="width:304px;height:228px;">
  <p><b>Project URL: </b><a href="project_list.project_url">{{ project_list.project_url }}</a></p>
  <p><b>Project Description: </b>{{ project_list.project_description }}</p>
  <p><b>Author: </b>{{ author_name }}</p>
  <label for="description">Comments:</label>
  {% for comments in project_comments %}
        <p><b>{{  comments[1].name }}: </b>{{  comments[0].content }}</p>
  {% endfor %}
  
  <form action="#" method = "post" id="textComments" enctype="multipart/form-data">
    <textarea class="form-control" maxlength="250" rows="3" name="comments" placeholder="Please post comments"></textarea>
    
    <button type="submit" class="btn btn-default" id="submitButton" >
    <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Comment</button>   
  </form>

{% endblock %}

